body {
    margin: 0;
}

header {
    background-color: #f1f1f1;
    border-color: black;
}

footer {
    background-color: #f1f1f1;
}

td {
    padding: 10px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.pageContent {
    padding-top: 10px;
    padding-left: 30%;
}

.forms {
    margin: 25%;
    text-align: center;
}

.legends {
    padding-bottom: 29px;
}

#menulist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
}

#requestedAttribute {
    margin-right: 50px;
}
/*
#resultTable{
    align to center
}
*/